.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
  z-index: 10000;
}

.alert-success {
  color: #fff;
  background-color: #0d874a;
  border-color: #fff;
}

.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}

.alert-icon {
  font-size: 20px;
}

.alert-font {
  font-size: 19.8px;
}

.error-msg {
  color: red;
  font-size: 12px;
}
