.button-style {
  font-size: 12px;
  box-shadow: 1px 3px 10px -6px #000000;
  
}

.button__sync{
  font-size: 12px;

}

.table-button {
  box-shadow: 2px 4px 10px -6px #000000;
  font-size: 12px;
  border-radius: 15px;
  width: 28px;
  margin-bottom: 3px;
}

.close-modal-button {
  font-size: 12px;
  border: 0px;
}



.main-button {
  font-size: 12px;
}

.add-button {
  width: 60px;
}

.validate-button {
  width: 85px;
}

.cancel-button {
  width: 55px;
}

.search-user {
  float: right;
}

.search-button {
  font-size: 10px;
  height: 29px;
}


