.white-dd {
  background-color: white;
}

.filter-dropdown {
  width: 8.4rem;
  box-shadow: 2px 6px 9px -9px #000000;

}

.filter-checkbox {
  font-size: 13.8px;
}

.arrow-view {
  font-size: 10px;
  font-weight: bold;
  float: right;
}

.arrow-color {
  color: gray;
}
