.table-badge {
  width: 80px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  font-size: 10.2px;
}



.table-style {
  font-size: 11px;
  max-height: 37.7rem;
}

.bottom-label {
  color: gray;
  font-size: 10.8px;
}
