.filter-position{
    position: relative;
    right: 3.7rem;
}

.export-button-pdf {
    font-size: 13.8px;
    border: 0px;
    box-shadow: 2px 4px 10px -6px #000000;
    position: relative;
    right: 16px;
  
  }

  .export-button-excel {
    font-size: 13.8px;
    border: 0px;
    box-shadow: 2px 4px 10px -6px #000000;
    position: relative;
    right: 59px;
  
  }